spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/prospects_cielo
    driverClassName: org.postgresql.Driver
    username: postgres
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        packages-to-scan: com.cielo.prospects.entities
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  mvc:
    cors:
      allowed-origins: "*"
      allowed-methods: GET,POST,PUT,DELETE
springdoc:
  swagger-ui:
    path: /
    enabled: true
    operations-sorter: alpha
